/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'UncommonS';
    src: url('Uncommon-Regular.woff2') format('woff2'),
        url('Uncommon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

html {
    font-size: 16px;
}

input {
    font-size: 2rem;
    border-radius: 3rem;
    padding: 1.5rem;
    background-color: #fff;
    border: none;
    font-family: 'UncommonS';
}

#send-location {
    display: none;
}

body {
    line-height: 1.4;
    color: #333333;
    font-size: 2rem;
    background-color: #ffcbaf;
    font-family: 'UncommonS';
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    outline: none;
}

button {
    font-size: 2rem;
    border: none;
    border-radius: 3rem;
    padding: 1.5rem;
    font-family: 'UncommonS';
}

button:hover {
    background: #fff;
}

button:disabled {
    cursor: default;
    background: #fff;
}

/* Join Page Styles */

#toggle {
    position: absolute;
    cursor: pointer;
    top: 1.5rem;
    font-size: 1.5rem;
    left: 1.5rem;
    background-color: #fff;
    border-radius: 3rem;
    padding: 1.3rem 1rem 1rem 1rem;
}

.read .admin {
    display: none !important;
}

.read .chat__messages {
    margin: 1.5rem;
    border-radius: 1rem;
    background-color: #fff;
}

.read .message__name, .read .message__meta {
    display: none;
}

.read .message {
    width: fit-content;
    background-color: transparent;
    height: fit-content;
    padding: 0 0.95rem 0 0;
    float: left;
    display: inline-block;
}

.centered-form {
    background: lightgray;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    padding: 24px;
    font-family: 'UncommonS';
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    width: 320px;
    overflow-y: scroll;
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    width: 80vw;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    background-color: red;
    border-radius: 3rem;
    padding: 1.5rem;
    font-size: 2rem;
    margin-bottom: 0;   
}

.indicator {
    position: absolute;
    bottom: 2.5rem;
    font-size: 5rem;
    left: 2rem;
}

.message__name {
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
    margin-right: 8px;
}

.message__meta {
    color: #fff;
    font-size: 1.5rem;
}

.message a {
    color: #000;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    width: 100%;
    margin: 0 16px 0 0;
    flex-grow: 1;
}


/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 1.5rem;
    padding: 24px;
    font-weight: 400;
    margin-top: 6rem; 
}

.list-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0;
    padding: 12px 24px 0 24px;
}

.users {
    font-size: 1.5rem;
    list-style-type: none;
    font-weight: 300;
    font-weight: 400;
    padding: 0 24px 0 24px;
}