/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'UncommonS';
    src: url('Uncommon-Regular.woff2') format('woff2'),
        url('Uncommon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

html {
    font-size: 16px;
}

.cursor {
    position: fixed;
    margin-left: -2.25rem;
    margin-top: -2.25rem;
    width: 4.5rem;
    pointer-events: none;
    height: 4.5rem;
    border-radius: 50%;
    background-color: red;
    z-index: 9999;
  }

  .cursor-me {
    background-color: inherit !important;
  }

input {
    font-size: 2rem;
    border-radius: 3rem;
    padding: 1.5rem;
    background-color: #fff;
    border: none;
    font-family: 'UncommonS';
}

#send-location {
    display: none;
}

body {
    line-height: 1.4;
    color: #333333;
    font-size: 2rem;
    background-color: #ffcbaf;
    font-family: 'UncommonS';
    cursor: none;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    outline: none;
}

button {
    font-size: 1rem;
    border: none;
    border-radius: 3rem;
    padding: 1.5rem;
    margin-right: 1rem;
    font-family: 'UncommonS';
}

button:hover {
    background: #fff;
}

button:disabled {
    cursor: default;
    background: #fff;
}

/* Join Page Styles */


#body.compose-body .message {
    border-radius: 3rem;
    font-size: 1.5rem !important;
    background-color: red !important;
    width: fit-content;
    margin-bottom: 1rem;
}

.compose-body #messages {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.compose-body .chat__messages {
    padding-bottom: 6rem;
    width: calc(100vw - 0rem);
}


.btn-invite {
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 3rem;
    position: absolute;
    top: 0.75rem;
    width: fit-content;
    left: 0.75rem;
    cursor: pointer;
    padding: 1.3rem 2rem 1rem 2rem;
}

.btn-question {
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 3rem;
    position: absolute;
    top: 0.75rem;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    text-align: center;
    right: 0.75rem;
    cursor: pointer;
    padding: 0;
}

.btn-sessions {
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 3rem;
    position: absolute;
    bottom: 0.75rem;
    font-size: 1.5rem;
    text-align: center;
    right: 0.75rem;
    padding: 1.3rem 2rem 1rem 2rem;
    cursor: pointer;
}

.btn-case {
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 3rem;
    position: absolute;
    top: 0.75rem;
    width: fit-content;
    right: 10.75rem;
    cursor: pointer;
    padding: 1.3rem 2rem 1rem 2rem;
}

.btn-case.active, .btn-case:hover {
    background-color: red;
    color: #fff;
}

.btn-compose {
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 3rem;
    position: absolute;
    top: 0.75rem;
    width: fit-content;
    left: 10.75rem;
    cursor: pointer;
    padding: 1.3rem 2rem 1rem 2rem;
}

.btn-compose.active {
    background-color: red;
    color: #fff;
}

.btn-compose:hover, 
.btn-invite:hover {
    background-color: red;
    color: #fff;
}



.read .admin, .read .Admin {
    display: none !important;
}

#messages_compose .admin, #messages_compose .Admin {
    display: none;
}

.read #messages_compose {
    display: none;
}

.read #messages {
    display: block;
}

#messages {
    display: none;
}

#messages .message {
    background-color: transparent !important;
}

.sort-group {
    z-index: 100;
    width: calc(100vw - 1rem);
    position: relative;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.sort-group .active {
    background-color: red;
    color: #fff;
}

::-webkit-scrollbar {
    display: none !important;
  }


.uppercase #messages {
    text-transform: uppercase;
}

#message-form {
    padding: 0.75rem;
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
}

#message-form input {
    font-size: 1.5rem;
}

#message-form button {
    opacity: 0;
    pointer-events: none;
    background-color: red;
    color: black;
    cursor: pointer;
    margin-left: -0.5rem;
}

.read .chat__messages {
    margin: 5.9rem 0.75rem 8rem;
    padding: 0;
    width: 98.5vw;
    border-radius: 3rem;
    background-color: #fff;
}

.color-indicator {
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    top: 0.75rem;
    margin-left: 0;
    right: 5.75rem;
    border-radius: 100%;
}

.read .message__name, .read .message__meta {
    display: none;
}

.message {
    position: relative;
}

.anchor {
    position: relative;
}

.size-1rem   .anchor_indicator {
    top: 13px;
    width: 2px;
    height: 25px;
  }

.size-2rem   .anchor_indicator {
    height: 47px;
}

.size-3rem   .anchor_indicator {
    height: 70px;
}
.size-4rem   .anchor_indicator {
    height: 90px;
}

.size-5rem   .anchor_indicator {
    height: 110px;
}

.size-6rem   .anchor_indicator {
    height: 130px;
}

.size-7rem   .anchor_indicator {
    height: 150px;
}


.size-8rem   .anchor_indicator {
    height: 170px;
    width: 6px;
}


.size-9rem   .anchor_indicator {
    height: 190px;
    width: 7px;
}

.size-10rem   .anchor_indicator {
    height: 210px;
    width: 8px;
}



.anchor_indicator {
    content: '';
    position: relative;
    right: 1px;
    margin: 0;
    top: 16px;
    float: left;
    width: 3px;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }



.read .meta {
    display: none ;
}

.read .message {
    width: fit-content;
    background-color: transparent;
    height: fit-content;
    padding: 0 0.95rem 0 0;
    float: left;
    display: inline-block;
}  

.read .message p {
    padding: 1rem 0.5rem;
}

.centered-form {
    background: lightgray;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    padding: 24px;
    font-family: 'UncommonS';
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

#sidebar {
    position: fixed;
}


.chat__sidebar {
    height: 100vh;
    width: 320px;
    overflow-y: scroll;
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
  /*  flex-grow: 1;*/
    width: 97vw;
    padding: 1rem;
    overflow-y: scroll;
}

/* Message Styles */

.slider-container {
    position: fixed;
    right: 23.5rem;
    top: 1.5rem;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
    /*  overflow: hidden;*/
      width: 20rem;
      padding: 0.1rem;
      -webkit-appearance: none;
      background-color: red;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 3rem;
      margin-top: -1.2rem;
      -webkit-appearance: none;
      height: 3rem;
      margin-left: 0;
      border-radius: 100%;
      cursor: ew-resize;
      background: red;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #9a905d;
}

.message {
    background-color: red;
    border-radius: 3rem;
    padding: 1.5rem;
    margin-bottom: 0;   
}

.indicator {
    position: absolute;
    bottom: 2.5rem;
    font-size: 5rem;
    pointer-events: none;
    opacity: 0;
    left: 2rem;
}

.message__name {
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
    margin-right: 8px;
}

.usercount {
    position: fixed;
    background-color: #fff;
    border-radius: 3rem;
    bottom: 0.75rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.3rem 2rem 1rem 2rem;
}

.usercount span {
    color: red;
}

.message__meta {
    color: #fff;
    font-size: 1.5rem;
}

.message a {
    color: #000;
}

/* Message Composition Styles */

#colorPicker {
    display: none;
}

.compose {
    display: flex;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    width: 100%;
    margin: 0 16px 0 0;
    flex-grow: 1;
}


/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 1.5rem;
    padding: 24px;
    font-weight: 400;
    margin-top: 6rem; 
}

.list-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0;
    padding: 12px 24px 0 24px;
}

.users {
    font-size: 1.5rem;
    list-style-type: none;
    font-weight: 300;
    font-weight: 400;
    padding: 0 24px 0 24px;
}